/*

    ◻ DESC.css
    - This file contains the styles for the description page.
    It builds upon the core styles defined in "core.css."

    by June Saturn

*/

.feature-graphic {
    position: relative;
    width: 100lvw;
    height: 60lvh;

    background-color: var(--magenta);
    background-image: url("../assets/images/games/the-sword-cinema/feature-graphic01.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;    /* Column */
    justify-content: flex-end; /* Bottom */
    align-items: flex-start;   /* Left */
    padding: 24px 24px;
    box-sizing: border-box;
}

.feature-graphic p {
    font-size: 0.875rem;
}

.bottom-row {
    display: flex;
    align-items: center;
    width: 100lvw;
}

.download-section {
    display: flex;
    margin-left: auto;
}

.download-button {
    all: unset;

    display: inline-block;
    padding: 12px 60px;
    background-color: var(--white);
    color: var(--black);
    font-size: 22px;
    border-radius: 4px;
}

.trademark {
    width: 500px;
    height: auto;
}