:root {
    /* Variables */
    --white: rgb(253, 255, 252);
    --black: rgb(3, 25, 30);
    --red: rgb(255, 46, 0);
    --yellow: rgb(255, 209, 76);
    --jade: rgb(32, 223, 223);
    --blue: rgb(73, 73, 255);
    --magenta: rgb(255, 63, 135);
    --default-font-size: 16px;

    /* Font */
    font-family: "Paperlogy", "Lexend", "Pretendard", sans-serif;
    font-size: var(--default-font-size);
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: -0.5px;
    
    /* Other settings */
    overflow-x: hidden;
}


::selection {
    color: var(--black);
    background-color: var(--white);
}


html {
    background-color: var(--black);
    color: var(--white);
}